<!DOCTYPE html>
<html lang="en" dir="{{ direction|default('ltr') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>{{ theme.name }}</title>
    <link rel="icon" type="image/png" href="images/favicon.png">

    <!-- fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i">

    <!-- css -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="vendor/photoswipe/photoswipe.css">
    <link rel="stylesheet" href="vendor/photoswipe/default-skin/default-skin.css">
    <link rel="stylesheet" href="vendor/select2/css/select2.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- font - fontawesome -->
    <link rel="stylesheet" href="vendor/fontawesome/css/all.min.css">
    <!-- font - stroyka -->
    <link rel="stylesheet" href="fonts/stroyka/stroyka.css">

    {{ analytics|default('') }}
</head>
<body>

<!-- site -->
<div class="site">
    <!-- mobile site__header -->
    <header class="site__header d-lg-none">
        {% include '/header/mobile-header.twig' %}
    </header>
    <!-- mobile site__header / end -->

    <!-- desktop site__header -->
    <header class="site__header d-lg-block d-none">
        {% include '/header/header.twig' %}
    </header>
    <!-- desktop site__header / end -->

    <!-- site__body -->
    <div class="site__body">
        {% block site_body %}{% endblock %}
    </div>
    <!-- site__body / end -->

    <!-- site__footer -->
    <footer class="site__footer">
        {% include '/footer/footer.twig' %}
    </footer>
    <!-- site__footer / end -->
</div>
<!-- site / end -->

<!-- quickview-modal -->
<div id="quickview-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content"></div>
    </div>
</div>
<!-- quickview-modal / end -->

<!-- mobilemenu -->
{% include '/header/mobilemenu.twig' %}
<!-- mobilemenu / end -->

{% if cart_style == 'offcanvas' %}
    {% include '/header/dropcart.twig' with {style: 'offcanvas'} %}
{% endif %}

<!-- photoswipe -->
{% include '/partials/photoswipe.twig' %}
<!-- photoswipe / end -->

<!-- js -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/owl-carousel/owl.carousel.min.js"></script>
<script src="vendor/nouislider/nouislider.min.js"></script>
<script src="vendor/photoswipe/photoswipe.min.js"></script>
<script src="vendor/photoswipe/photoswipe-ui-default.min.js"></script>
<script src="vendor/select2/js/select2.min.js"></script>
<script src="js/number.js"></script>
<script src="js/main.js"></script>
<script src="js/header.js"></script>
<script src="vendor/svg4everybody/svg4everybody.min.js"></script>
<script>svg4everybody();</script>
</body>
</html>
