<ul class="suggestions__list">
    {% for product in products[:5] %}
        <li class="suggestions__item">

            <div class="suggestions__item-image product-image">
                <div class="product-image__body">
                    <img class="product-image__img" src="{{ product.images[0] }}.jpg" alt="">
                </div>
            </div>

            <div class="suggestions__item-info">
                <a class="suggestions__item-name">
                    {{ product.name }}
                </a>
                <div class="suggestions__item-meta">SKU: {{ product.features.sku }}</div>
            </div>
            <div class="suggestions__item-price">
                {{ product.price }}
            </div>

            <div class="suggestions__item-actions">
                <button
                    type="button"
                    title="Add to cart"
                    class="btn btn-primary btn-sm btn-svg-icon"
                >
                    <svg width="16px" height="16px">
                        <use xlink:href="images/sprite.svg#cart-16"></use>
                    </svg>
                </button>
            </div>
        </li>
    {% endfor %}
</ul>
